/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/estilo.css ***!
  \*****************************************************************************************************************/
body {
  background-color: #444;
}
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/scss/index.scss ***!
  \******************************************************************************************************************/
.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em;
}
