body {
    background-color: #444;
    background-image: url(../imgs/R.jpg); /* essa referencia notifica o webpack de que ha uma imagem para ser carregada */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}